.meme--container {
    margin: 36px;
    display: flex;
    flex-direction: column;
}

input {
    margin: 15px 10px;
    width: 14.88rem;
    height: 35px;
    border-radius: 5px;
    text-indent: 5px;
}

button {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border: 0;
    border-radius: 5px;
    padding: 20px 10rem;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.1em;
    color: #FFFFFF;
}

.form {
    font-family: 'Karla';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme--image {
    width: 40rem;
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.meme--topText {
    margin-bottom: -20px;
}

.meme--bottomText {
    margin-top: auto;
}

.meme--bottomText, .meme--topText {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-overflow: ellipsis;
}